.git
.gradle
build
**/build
**/out
*.iml
.idea
.DS_Store
node_modules
**/node_modules
.gradle/**
**/.env
**/*.log
**/target
**/*.class
**/application.yml
**/application-secret.yml
**/application-prod.yml
**/application-dev.yml
**/application-local.yml
**/application-*.yml