logging:
  file:
    name: logs/upms.log
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%X{traceId}]){magenta} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n"

  level:
    root: INFO

    # 내 애플리케이션 - 개발 시 DEBUG
    kr.kyeoungwoon.upms: DEBUG

    # Spring Web - 요청/응답 확인
    org.springframework.web: INFO

    # JPA/Hibernate - SQL 쿼리 확인
    org.hibernate.SQL: INFO # 실행되는 SQL
    org.hibernate.orm.jdbc.bind: INFO # 바인딩 파라미터 (Hibernate 6+)

    # 트랜잭션 확인
    org.springframework.transaction: DEBUG
    org.springframework.orm.jpa: DEBUG

    # 시끄러운 로그 끄기
    org.springframework.web.client.DefaultRestClient: OFF
    org.apache.http: WARN
    com.zaxxer.hikari: WARN

management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    prometheus:
      access: unrestricted
  metrics:
    enable:
      jvm: true
      process: true
      http: true
      jdbc: true # DB 쿼리 메트릭
      rabbitmq: true # 메시징
      # 추가 권장
      system: true # CPU, 메모리 등 시스템 메트릭
      tomcat: true # 톰캣 스레드풀, 세션 메트릭
      hikaricp: true # HikariCP 커넥션 풀 메트릭
      logback: true # 로그 레벨별 카운트
      cache: true # 캐시 사용 시
      spring.security: true # Spring Security 인증 메트릭

    tags:
      application: x-upms

server:
  port: 8080
#  servlet:
#    context-path: /api

spring:
  application:
    name: x-upms
  config:
    import:
      - optional:classpath:application-secret.yml
      - optional:file:/app/config/application-secret.yml

  jackson:
    generator:
      write-numbers-as-strings: true

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      auto-commit: true

      # Connection 유효성 검사
      connection-test-query: SELECT 1
      validation-timeout: 3000

      maximum-pool-size: 10
      minimum-idle: 5
      max-lifetime: 1800000

      # Connection 수명 제한 (재사용 문제 방지)
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        # dialect는 명시가 불필요해서 생략
        jdbc:
          use_scrollable_resultset: false
          batch_size: 0
          # 아래 설정하면 터짐
#        query:
#          plan_cache_max_size: 0

springdoc:
  swagger-ui:
    path: /swagger # 원하는 경로로 변경
    enabled: false
    operations-sorter: method # API 정렬 (method, alpha)
    tags-sorter: alpha # 태그 정렬

  api-docs:
    path: /api-docs # API 문서 경로
    enabled: false
