name: Status Check on Pull Request (Type Check & Build)

on:
#  pull_request:
#    branches:
#      - main
#      - develop
  workflow_dispatch:

jobs:
  type-check:
    name: TypeScript Type Check
    # runs-on: ubuntu-latest
    runs-on: [self-hosted, largeserver]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Run type check
        run: pnpm type-check

      - name: Build project
        run: pnpm build
